### Se pide:

A partir del archivo "USA_Housing.csv", realizar la regresión lineal entre cada columna numérica con la columna 'price'. 

Cuando existe una columna(variable) que es la que se quiere comparar, se le llama 'target'.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv(r"C:\Users\crist\Documents\BOOTCAMP\GitPersonal\DataScience\week8\day2\data\USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386

In [3]:
# Borro Address porque es texto
df.drop(columns="Address",inplace=True)

In [10]:
X=df.iloc[:,:-1]

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.458574,5.682861,7.009188,4.09,23086.800503
1,79248.642455,6.002900,6.730821,3.09,40173.072174
2,61287.067179,5.865890,8.512727,5.13,36882.159400
3,63345.240046,7.188236,5.586729,3.26,34310.242831
4,59982.197226,5.040555,7.839388,4.23,26354.109472
...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035
4996,78491.275435,6.999135,6.576763,4.02,25616.115489
4997,63390.686886,7.250591,4.805081,2.13,33266.145490
4998,68001.331235,5.534388,7.130144,5.44,42625.620156
4999,65510.581804,5.992305,6.792336,4.07,46501.283803

In [5]:
y=df["Price"]

In [6]:
from sklearn.linear_model import LinearRegression

In [12]:
# FORMA RESUMIDA. Aquí hago la RL en cada columna, entreno cada modelo y muestro en pantalla cada precisión.

for feature in X:
    print(feature)
    """
    lr=LinearRegression()
    lr.fit(feature,y)
    lr.predict(feature)
    sc=(lr.score(feature,y))*100
    print(feature,sc)
    """

AttributeError: 'str' object has no attribute 'values'

In [58]:
# Aquí realizo la RL sobre el conjunto de los datos, y hago un dataframe que toma las pendientes como valores de una columna "Coeficiente"vy las features como índices.

model=LinearRegression()
model.fit(X,y)
model.predict(X)

coef_df=pd.DataFrame(model.coef_, X.columns, columns=["Coeficiente"])
coef_df # Por cada unidad que aumente cada feature, el Precio aumentará 1+Coeficiente.

                                Coeficiente
Avg. Area Income                  21.578049
Avg. Area House Age           165637.026941
Avg. Area Number of Rooms     120659.948816
Avg. Area Number of Bedrooms    1651.139054
Area Population                   15.200744

In [61]:
model.score(X,y)*100

91.80238195089554