# Scores

### Introduction:

This time you will create the data.

***Exercise based on [Chris Albon](http://chrisalbon.com/) work, the credits belong to him.***

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create the DataFrame that should look like the one below.

In [11]:
df = pd.DataFrame([("Jason","Molly,""Tina","Jake","Amy"),("Miller","Jacobson","Ali","Milner","Cooze"),(42,52,36,24,73),(0,1,1,0,1),(4,24,31,2,3),(25,94,57,62,70)]),columns=["first_name","last_name","age","female","preTestScore","postTestScore"]

SyntaxError: cannot assign to function call (<ipython-input-11-4b949d64c157>, line 1)

  first_name last_name  age  female  preTestScore  postTestScore
0      Jason    Miller   42       0             4             25
1      Molly  Jacobson   52       1            24             94
2       Tina       Ali   36       1            31             57
3       Jake    Milner   24       0             2             62
4        Amy     Cooze   73       1             3             70

### Step 3. Create a Scatterplot of preTestScore and postTestScore, with the size of each point determined by age
#### Hint: Don't forget to place the labels

### Step 4. Create a Scatterplot of preTestScore and postTestScore.
### This time the size should be 4.5 times the postTestScore and the color determined by sex

### BONUS: Create your own question and answer it.